.container {
    display: flex; /* or inline-flex */
    flex-flow: row wrap;
  text-align: center;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  }


  h1 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-shadow: 4px 4px 4px #aaa;
    font-size: 4em;
    font-weight : 700;
}
h2 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight : 200;
    font-size: 2em;
}
.gameSplash {
  background-image: url(/assets/wallpaper.svg);
  width: 100%;
  min-height: 400px;
}
.footer img {
    width: 1em;
    padding-right: 3px;
}
.footer a{
  font-family: 'Yanone Kaffeesatz', sans-serif;
    text-decoration:none;
    color: azure;
    font-weight : 200;
}
body {
    padding: 2em; 
  }
.center{
  text-align: center;
}
hr{
  max-width:500px;
}
.myButton {
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.myButton:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.myButton:active {
	position:relative;
	top:1px;
}